<div class="content-products">
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h2 class="title-products">Productos & <a class="changecolor">Servicios</a></h2>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div id="imagen">
                <div id="info">
                    <p id="headline">Diseño de Software</p>
                    <p id="descripcion">El servicio de diseño de software se refiere al proceso de creación de la arquitectura, diseño y especificaciones de un sistema de software. Esto, basado en los requisitos identificados durante el proceso de análisis de requerimientos.El objetivo es definir la estructura del sistema y cómo los diferentes componentes interactúan entre sí. De manera que el software pueda ser desarrollado de manera eficiente, escalable, segura y fácil de mantener.</p>                                    
                </div>
              </div>
        </ion-col>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div id="imagenTwo">
                <div id="info">
                    <p id="headline">Desarrollo de Software</p>
                    <p id="descripcion">El desarrollo de software consiste en la construcción de un sistema a partir de las especificaciones y el diseño antes definidos. Lo que se hace es producir un software que cumpla con los requisitos establecidos, sea fácil de mantener y escalable, y esté libre de errores y bugs.</p>                                    
                </div>
              </div>
        </ion-col>
    </ion-row>   
    
    <div class="content-background">
        <ion-row>          
            <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h2 class="text-white">
                    Contacta con nosotros hoy mismo para descubrir cómo podemos ayudarte a innovar y prosperar en un mundo impulsado por la tecnología.
                </h2>
            </ion-col>    
        </ion-row>
    </div>

    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div id="imagenThree">
                <div id="info">
                    <p id="headline">Pruebas de Software</p>
                    <p id="descripcion">Las pruebas de software se integran por una evaluación y verificación, para asegurar que cumpla con los requisitos establecidos y que funcione correctamente.</p>                                    
                </div>
              </div>
        </ion-col>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div id="imagenFour">
                <div id="info">
                    <p id="headline">Mantenimiento y soporte de Software</p>
                    <p id="descripcion">El servicio de mantenimiento y soporte de software busca garantizar que el software esté actualizado, funcionando correctamente y que sea compatible con el hardware y el software de terceros. Por ejemplo, que se pueda integrar con un CRM, un 🤝🏼 software de Recursos Humanos, entre otros.</p>                                    
                </div>
              </div>
        </ion-col>
    </ion-row>    
   
   

</div>

