<ng-container *ngIf="isDesktop">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">   
        <h5>Nosotros descubrimos y diseñamos</h5>        
        
      </div>
      <div class="carousel-item">  
        <h5>Nosotros desarrollamos y mantenemos</h5>         
      </div>
      <div class="carousel-item">   
        <h5>Nosotros innovamos</h5>         
      </div>
    </div>    
  </div>
</ng-container>
