<div class="header" *ngIf="isDesktop">
    <!-- <ion-row>
        <ion-col style="display: flex;justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="title-header">Teléfono: +54 11 39573548 / Email: ejemplo@gmail.com</h1>
        </ion-col>
     
    </ion-row> -->
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="2" size-xl="2">
            <h2 class="nav-company">InnovateSoft</h2>
        </ion-col>
        <ion-col class="nav" size-xs="12" size-md="12" size-lg="10" size-xl="10">
            <ng-container *ngFor="let item of itemNav">                                
                <h2 class="nav-title">{{item.title}}</h2>
            </ng-container>            
        </ion-col>
    </ion-row>   
</div>

<div *ngIf="isMobile">
    <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>InnovateSoft</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-menu-toggle>
            <ion-list>
                <ion-item>
                  <ion-label>Inicio</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Servicios</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Productos</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Contáctanos</ion-label>
                </ion-item>                
              </ion-list>
          </ion-menu-toggle>
        </ion-content>
      </ion-menu>
      <div class="ion-page" id="main-content">        
        <ion-content class="ion-padding">
          <ion-menu-toggle>
            <div class="background">
                
            </div>
            <img class="img-menu" src="../../../../assets/img/barra-de-menus (1).png" alt="menu">
            
          </ion-menu-toggle>
        </ion-content>
      </div>
</div>