a{
  text-decoration: none;
  color: #2B9DFF;
  font-weight:bold;
  font-style: italic;
}

.img-redes{
  width: 39px;
  height: 39px;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 3%;
  cursor: pointer;
}

.img-redes-one{
  width: 39px;
  height: 39px;
  margin-right: 0%;
  margin-top: 1%;
  margin-bottom: 3%;
  cursor: pointer;
}
.content-blue{    
  background-color: black;  
}

  .textOne{  
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    /* margin-left: 7%; */
  }
  .textTwo{   
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin-left: 40%;
  }
  .textThree{    
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
  }

  h1{  
    color: white;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .col{
    display: flex;
    justify-content: center;
    }
  

  .copy{
    /* line-height: 28px;*/
    text-align: center; 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: black;
    margin-top: 1%;
  }

    .content-col{
      display: flex;
      justify-content:flex-end;
      background-color: black;
    }

    @media screen and (max-width: 992px)  {
      .content-col{
        display: flex;
        justify-content:center;
        background-color: black;
        border-bottom: 1px white;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        margin-top: 2%;
        margin-bottom: 2%;
      }
    }
   