     <footer class="content-blue">
        <!-- <ion-row>
            <ion-col class="col" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <img class="img-redes" src="../../../../assets/img/instagram.png" alt="icon-insta">
                <img class="img-redes" src="../../../../assets/img/facebook.png" alt="icon-face">
                <img class="img-redes" src="../../../../assets/img/whatsapp.png" alt="iconWa">
            </ion-col>

        </ion-row> -->
        <ion-row>
              <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
             <ion-row style="width: 100%; display: flex; justify-content: start;">
                <!-- <ion-col class="no-padding"  size-xs="12" size-md="12" size-lg="6" size-xl="6">
                    <h1>Nosotros</h1>
                    <h2 class="textOne">
                        En <a>InnovateSoft</a>, creemos en el poder de la innovación para transformar el mundo digital. 
                        Somos una empresa apasionada y altamente comprometida con la creación de soluciones de 
                        software de vanguardia que impulsan el progreso y mejoran la vida de las personas.
                    </h2>
                </ion-col> -->
                <!-- <ion-col class="no-padding"  size-xs="12" size-md="12" size-lg="2" size-xl="2">
                    <h1>Contacto</h1>
                    <ion-row class="textTwo">
                        Email: example@gmail.com<br/> Teléfono: +54 11 39573548
                    </ion-row>
                   
                  
                </ion-col> -->
                <ion-col  class="no-padding" size-xs="12" size-md="12" size-lg="6" size-xl="6">
                    <h1>Visitanos</h1>
                    <h2 class="textThree">
                       <img class="img-redes" src="../../../../assets/img/localizacion.png" alt=""> Cuidad Autonoma de Buenos Aires, Argentina
                        
                    </h2>
                </ion-col> 
             </ion-row>
            </ion-col>
            <ion-col style="display: flex; justify-content: flex-end;" size-xs="12" size-md="12" size-lg="6" size-xl="6">
                <img class="img-redes" src="../../../../assets/img/instagram.png" alt="icon-insta">
                <img class="img-redes" src="../../../../assets/img/facebook.png" alt="icon-face">
                <img class="img-redes" src="../../../../assets/img/whatsapp.png" alt="iconWa">
            </ion-col>
          
                       
        </ion-row>
        <!-- <h5 class="copy">&copy; {{year}} InnovateSoft. Todos los derechos reservados.</h5>    -->
     </footer>
     

