     <footer class="content-blue">       
        <ion-row style="background-color: black;">
            <ion-col  class="no-padding" size-xs="12" size-md="12" size-lg="6" size-xl="6">
                <h1>Visitanos</h1>
                <h2 class="textThree">
                   <img class="img-redes-one" src="../../../../assets/img/localizacion.png" alt=""> Cuidad Autonoma de Buenos Aires, Argentina                    
                </h2>
            </ion-col> 
            <ion-col class="content-col" size-xs="12" size-md="12" size-lg="6" size-xl="6">
                <img class="img-redes" src="../../../../assets/img/instagram.png" alt="icon-insta">
                <img class="img-redes" src="../../../../assets/img/facebook.png" alt="icon-face">
                <img class="img-redes" src="../../../../assets/img/whatsapp.png" alt="iconWa">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="no-padding col" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h5 class="copy">&copy; {{year}} InnovateSoft. Todos los derechos reservados.</h5>
            </ion-col>
          
        </ion-row>       
       
     </footer>
     

