<div class="content-nosotros">
    <ion-row>
        <ion-col class="just-content" size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h3 class="title-one">En innovateSoft, creemos en el poder de la innovación para transformar el mundo digital. Somos una empresa apasionada y altamente comprometida con la creación de soluciones de software de vanguardia que impulsan el progreso y mejoran la vida de las personas.</h3>       
        </ion-col>           
    </ion-row>
    <ion-row>
        <ion-col class="just-content-two" size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <div class="border-line"></div>    
        </ion-col>       
    </ion-row>

    <div class="content-background">
        <ion-row>
            <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h2 class="title-white">Únete a la <a class="changecolor">Revolución Tecnológica</a></h2>    
            </ion-col>
            <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h2 class="text-white">
                    En innovateSoft, estamos entusiasmados con el futuro y comprometidos con la innovación continua. Si buscas una empresa de software que te ayude a llevar tu visión al siguiente nivel, ¡estamos aquí para acompañarte en ese viaje!
                </h2>
            </ion-col>    
        </ion-row>
    </div>   
    
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div class="img_inno-vision"></div>
        </ion-col>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <ion-row>
               <h2 class="vision">Nuestra Visión</h2>
            </ion-row>
            <ion-row>
               <h2 class="text-vision">
                Nuestra visión es liderar el camino hacia un mundo más conectado, eficiente y avanzado tecnológicamente. En un mundo en constante evolución, nos esforzamos por ser pioneros en el desarrollo
                de soluciones innovadoras que resuelvan los desafíos más complejos y permitan a las empresas y las personas alcanzar su máximo potencial.
               </h2>
            </ion-row>
        </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 5%;">   
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <ion-row>
               <h2 class="vision">Nuestra Misión</h2>
            </ion-row>
            <ion-row>
               <h2 class="text-vision">
                En el corazón de nuestra misión está la búsqueda incansable de la excelencia en el desarrollo de software. Nos esforzamos por ofrecer soluciones que no solo satisfagan las necesidades de nuestros clientes, sino que también superen sus expectativas. 
                Estamos comprometidos con la mejora continua, la calidad intransigente y la adaptabilidad en un mundo tecnológico en constante cambio.
               </h2>
            </ion-row>
        </ion-col>
        <ion-col size-xs="12" size-md="12" size-lg="6" size-xl="6">
            <div class="img_inno-mision"></div>
        </ion-col>
    </ion-row>  
    
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h2 class="vision">Nuestros Servicios</h2>            
        </ion-col>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h2 class="text-servicios">
                Ofrecemos una amplia gama de servicios de desarrollo de software, desde aplicaciones móviles y web hasta soluciones empresariales y de inteligencia artificial. Nuestro equipo de ingenieros y diseñadores altamente capacitados
                trabaja en estrecha colaboración con los clientes para transformar ideas en soluciones tecnológicas innovadoras y efectivas.
            </h2>
        </ion-col>
    </ion-row>    
</div>


<ion-row class="content-click">
    <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
        <h2 class="title-click">¿Querés sumarte a la Tribu Innovate? Hacé click <a href="mailto:innovatesofttecno@gmail.com?Subject=Solicitud%20de%20Empleo%20del%20" class="enlace">acá</a></h2>
    </ion-col>
</ion-row>
