
/* @import '~@ionic/angular/css/core.css';


@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

Optional CSS utils that can be commented out 
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css'; */
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
  
    /* display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden; */
}