<div class="container-app">
    <innovation-slider></innovation-slider>

    <div class="cards">
        <ion-row>
            <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
             <h1 class="title-one">¿Quiénes somos?</h1>
            </ion-col>
            <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h1 class="title-two">Brindamos servicios basados en tecnologías de la información, trabajando a la par de nuestros clientes y entendiendo que cada proyecto es único. Somos una empresa de software a medida. Somos creadores de Software. </h1>
               </ion-col>
        </ion-row>

        <ion-row>
            <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
             <h1 class="title-one">¿Cómo lo hacemos?</h1>
            </ion-col>
            <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
                <h1 class="title-two">Nuestro servicio de desarrollo de software se distingue por como los equipos se administran y organizan para las tareas del proyecto a fin de cumplir con tus requerimientos. </h1>
               </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
                <div class="card" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </ion-col>
            <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
                <div class="card" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </ion-col>
            <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
                <div class="card" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </ion-col>
        </ion-row>
    </div>
</div>


