<div class="img-block">
<div class="slider">
  <innovation-slider></innovation-slider> 
</div>  
</div>

<div class="cards">
<div class="background-content">
  <ion-row>
    <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
     <h1 class="title-one"><span class="changecolor">¿Quiénes </span>somos?</h1>
    </ion-col>
</ion-row>
   <ion-row>
    <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
      <h1 class="title-two">Brindamos servicios basados en tecnologías de la información, trabajando a la par de nuestros clientes y entendiendo que cada proyecto es único. Somos una empresa de software a medida. Somos creadores de Software. </h1>
    </ion-col>
</ion-row> 
</div>

  <ion-row>
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
       <h1 class="title-three">¿Cómo lo <span class="changecolor">hacemos?</span></h1>
      </ion-col>
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
          <h1 class="title-four">Nuestro servicio de desarrollo de software se distingue por como los equipos se administran y organizan para las tareas del proyecto a fin de cumplir con tus requerimientos. </h1>
         </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
          <div class="card" >
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </ion-col>
      <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
          <div class="card" >
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </ion-col>
      <ion-col size-xs="12" size-md="12" size-lg="4" size-xl="4">
          <div class="card" >
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </ion-col>
  </ion-row>

  <div class="background-content-two">
    <div >
      <ion-row>
        <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
         <h1 class="title-one">InnovateSoft: Impulsando el Futuro a través de la <span class="changecolorTwo">Innovación Tecnológica</span></h1>
        </ion-col>
    </ion-row>
       <ion-row>
        <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
          <h1 class="title-two">En innovateSoft, creemos en el poder de la innovación para transformar el mundo digital. Somos una empresa apasionada y altamente comprometida con la creación de soluciones de software de vanguardia que impulsan el progreso y mejoran la vida de las personas.</h1>
        </ion-col>
    </ion-row> 
    </div>
  </div>

<div class="content-valores">
  <ion-row>
    <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="12" size-xl="12">
     <h1 class="title-three"><span class="changecolor">Nuestros</span> valores</h1>
    </ion-col> 
    
    <ion-row style="width: 100%;">
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="3" size-xl="3">
        <h5>Ética</h5>
        <img class="img-valores" src="../../assets/img/etico.png" alt="">      
      </ion-col>
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="3" size-xl="3">
        <h5>Calidad</h5>
        <img class="img-valores" src="../../assets/img/calidad-de-vida.png" alt="">        
      </ion-col>
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="3" size-xl="3">
        <h5>Aprendizaje</h5>
        <img class="img-valores" src="../../assets/img/producto.png" alt="">      
      </ion-col>
      <ion-col style="display: flex; justify-content: center;" size-xs="12" size-md="12" size-lg="3" size-xl="3">
        <h5>Colaboración</h5>
        <img class="img-valores" src="../../assets/img/unido.png" alt="">        
      </ion-col>
    </ion-row>   
  </ion-row>
</div>

</div>




