.img-block{ 
    background: url('../../assets/img/vector.jpg') 100% no-repeat;
    background-position: center;
    background-size: cover;  
    width: 100%;   
    height: 500px;
}

.img-wa{
    width: 45px;
    height: 45px;
    background: url('../../assets/img/whatsapp.png');
    background-position: center;
    background-size: cover;  
}

.container-app{
    width: 70%;
    margin: 0px auto;
    margin-top: 2%;   
    background-color: white; 
}
.card{
    width: 90%;
}

/* .card:hover .img-card {-webkit-transform:scale(1.3);transform:scale(1.3);}
.card {overflow:hidden;} */


.img-card-one:hover {filter: opacity(.5);}
.img-card-two:hover {filter: opacity(.5);}
.img-card-three:hover {filter: opacity(.5);}

.cards{
    width: 70%;
    margin: 0px auto;   
}

.title-one{
    color: White;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.title-button{
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.button{
    width: 30%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    background-color: #08112E;
    border-radius: 10px;
    margin-top: 5%;
}

.text-one{
    color: White;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;

}

.title-two{
    width: 70%;
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px; 
    margin-bottom: 3%;
    text-align: center;
}

.text-two{
    width: 70%;
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px; 
    margin-bottom: 3%;
    text-align: center;
}


.title-three{
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.text-three{
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.title-four{
    width: 70%;
    color: black; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px; 
    margin-bottom: 3%;
    text-align: center;
}

.text-four{
    width: 70%;
    color: black; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px; 
    margin-bottom: 3%;
    text-align: center;
}

.changecolor{
    text-decoration: none;
    color: #5C296C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.changecolorTwo{
    text-decoration: none;
    color: #88439d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.slider{
    height: 409px;
    /* background: #00ffff59; */
    width: 30%;
    /* margin: 0px auto; */
    padding-top: 11%;
    float: right;
}

.background-content{
    background-color: #08112E;
    border-radius: 10px;
    margin-top: 5%;
}

.background-content-two{
    width: 100%;
    height: 250px;
    background: url('../../assets/img/vector_01.jpg') 100% no-repeat;
    background-position: center;
    background-size: cover;   
    margin-top: 5%;  
}

.img-valores-one{
    width:120px;
    height: 100px;
    margin-top:44px;
    background: url('../../assets/img/etico.png') 100% no-repeat;
    background-position: center;
    background-size: cover;   
}

.img-valores-two{
    width:120px;
    height: 100px;
    margin-top:44px;
    background: url('../../assets/img/calidad-de-vida.png') 100% no-repeat;
    background-position: center;
    background-size: cover;   
}

.img-valores-three{
    width:120px;
    height: 100px;
    margin-top:44px;
    background: url('../../assets/img/producto.png') 100% no-repeat;
    background-position: center;
    background-size: cover;   
}

.img-valores-four{
    width:120px;
    height: 100px;
    margin-top:44px;
    background: url('../../assets/img/unido.png') 100% no-repeat;
    background-position: center;
    background-size: cover;   
}

.content-valores{
    width:70%;
    margin: 0px auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

h5{
    position: absolute;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

h2{
    position: absolute;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}

.margin{
    margin-top: 15%;
}

.img-card-one{
    width: 100%;
    height: 194px;
    background: url('../../assets/img/desarrollo.jpg') 100% no-repeat;
    background-position: center;
    background-size: cover; 
}

.img-card-two{
    width: 100%;
    height: 194px;
    background: url('../../assets/img/gestion.jpg') 100% no-repeat;
    background-position: center;
    background-size: cover; 
}

.img-card-three{
    width: 100%;
    height: 194px;
    background: url('../../assets/img/equipos.jpg') 100% no-repeat;
    background-position: center;
    background-size: cover; 
}

input{
    border: none;
    border-bottom: 1px solid #00000026;
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errorLabel{
    background-color: #d562625c;
    width: 100%;
    border-top: 1px solid red;
    color: #e34040;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}

textarea{
    width: 100%;
    height: 200px;
}

.detail{
    background-color: #08112E;
    width: 100px;
    color: white;
    border-radius: 10px;
}

.noDetail{
    background-color: #08112e93;
    width: 100px;
    color: white;
    border-radius: 10px;
}

.cancel{
    background-color: white;
    border: 1px solid #ccc;
    width: 100px;
    color: black;
    border-radius: 10px;
}

.important{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.important-data{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
    width: 90%;
    margin: 0px auto;
    margin-left: 4%;
}





@media screen and (max-width: 1200px)  {
    .margin{
        margin-top: 25%;
    }
}

@media screen and (max-width: 1600px)  {
    .margin{
        margin-top: 19%;
    }
}



@media screen and (max-width: 992px)  {
    .container-app{
        width: 100%;
        margin: 0px auto;
        margin-top: 1%;       
    }

    .card{
        width: 100%;
    }

    .margin{
        margin-top: 10%;
    }

    .text-four, .text-one, .text-three, .text-two{
        text-align: justify;
        width: 95%;
    }
    .img-block{
        height: 136px;
    }

    .cards{
        width: 95%;
    }

    .slider{
        height: 0px;
        /* background: #00ffff59; */
        width: 30%;
        /* margin: 0px auto; */
        padding-top: 11%;
        float: right;
    }

    .changecolorTwo{
        font-size: 23px;  

    }

    .title-one{            
        font-size: 23px;      
    }  
    
    .space{
        margin-top: 10%;
    }
    .button{
        width: 85%;
    }

}

